.body {
    
        width: 1600px;
        height: 2346px;
        background: #FFFFFF;
        font-family: "Roboto";
        width: 400;
}

.header {
        
        width: 1600px;
        height: 80px;
        top:0px;
        background: #FFFFFF;;
}
.logo {

position: absolute;
    width: 152px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';

    font-weight: 700;
    font-size: 26px;
    
    text-decoration-line:none;
    color: black;
}

.logo1{
    text-decoration-line:none;
    color: #2196F3;
}

.navigation {
        
        width: 281px;
        height: 16px;
        left: 453px;
        top: 32px;

    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;

    color: black;
    }
        <!-- при наведенні колір повиннен зміюватись-->
            

.nav1{
        width: 45px;
        height: 16px;
        left: 453px;
        top: 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.nav2{
    position: absolute;
        width: 70px;
        height: 16px;
        left: 550px;
        top: 35px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
}

.nav3{
    position: absolute;
        width: 65px;
        height: 16px;
        left: 670px;
        top: 35px;
    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.contacts {
    
        width: 135px;
        height: 16px;
        left: 1078px;
        top: 35px;
}
.mail{
    position: absolute;
        width: 135px;
        height: 16px;
        left: 1078px;
        top: 35px;

}

.tel{
    /*position: absolute;
        width: 122px;
        height: 16px;
        left: 1263px;
        top: 32px;*/
}

.contact-link {
    position: absolute;
        width: 122px;
        height: 16px;
        left: 1263px;
        top: 35px;
}

.main {}

.heroy {
    
        border-width: 1600px;
        height: 600px;
        top:80;
        background-color:#2F303A;
        
    }
.heroy1{
    position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;

        font-family: 'Roboto';
            font-size: 30px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            
            color: #FFFFFF;
}


.button {
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 32px;
        gap: 10px;

        position: absolute;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;


    
        /*position: absolute;
                padding-top: 350px;
                    padding-left: 692px;
                    padding-right: 692px;
                    padding-bottom: 200px;
            */
    
        background: #2196F3;
}

.skill {
    position: absolute;
        border-width: 1170px;
        height: 98px;
        left: 215px;
        top: 774px;
}

.hoby{
    position: absolute;
        border-width: 1170px;
        height: 386px;
        left: 215px;
        top: 966px;
}

.team {
    position: absolute;
        border-width: 1600px;
        height: 648px;
        left: 0px;
        top: 1446px;
    
        background: #F5F4FA;
}

.team1 {}

.team2 {}

.team3 {}

.team4 {}

.footer {position: absolute;
    border-width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;}

.contact footer {
    position: absolute;
        border-width: 1600px;
        height: 252px;
        left: 0px;
        top: 2094px;
}